<div class="row">

	<div class="col-md-8">
		<article id="profile-page">
			<h1>Profile</h1>
			<hr />
			<h2><%= user.name %> <%= user.familyname %></h2>
			<div class="profile-pic">
				<img src="<%= user.profileUrl %>" alt="Profile pic of <%= user.name %> <%= user.familyname %>" />
			</div>
			<p><strong>E-mail:</strong> <%= user.email %></p>
			<p><strong>Title:</strong> <%= user.title %></p>
			<p><strong>Birthday:</strong> <%= user.birthday %></p>
			<p><strong>Address:</strong> <%= user.address %></p>
			<p><strong>Postal:</strong> <%= user.postal %></p>
			<p><strong>City:</strong> <%= user.city %></p>
			<p><strong>Country:</strong> <%= user.country %></p>
			<p><strong>Phone:</strong> <%= user.phone %></p>

			<a href="/user/edit/<%= user.id %>" class="btn btn-medium btn-primary">Edit</a>
		</article>
	</div>	

	<div class="col-md-4">
		<aside>
			<h2>Sidebar</h2>
			<p>Show user info</p>
		</aside>
	</div>

</div>